.lightbox_content {
	display: none;
        width: 800px;
        height: 320px;
        background-color: white;
        position:fixed;
        left:50%; top:50%;
        margin: -160px 0 0 -400px;
        max-width:100%;
        max-height:100%;
        overflow:hidden;			
	padding: 10px;
	border: 5px solid black;
	background-color: white;
	z-index:9999999;
	border-radius: 20px;
        -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
}
.main_dark_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:9999990;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}
